# docker will create this data by itself
dist
node_modules

# redundant data for the docker build
.eslintrc.js
.gitignore
.prettierrc
.env*
cart-service
update-database
Dockerfile
nest-cli.json
README.md
test
.dockerignore
